<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		
		<title>
			{{ _site_name }}
			{{ if segment_1 }}
			– {{ title }}
			{{ endif }}
		</title>

		<!-- styles -->
		{{ theme:css src="fonts" tag="true" }}
		{{ theme:css tag="true" }}
		{{ theme:css src="skew" tag="true" }}

		<!-- favicon -->
		<link rel="shortcut icon" type="image/ico" href="{{ theme:img src="favicon.ico" }}">
	</head>
		<body>

		<nav>
			<a href="{{ homepage }}" data-icon="icon-home">&nbsp;</a>
			{{ nav from="/" include_content="true" }}<a href="{{ url }}" data-icon="{{ navicon }}">&nbsp;</a>{{ /nav }}
		</nav>

		{{ layout_content }}

		<footer class="block clearfix">
			<div class="block__align-middle">
				<a class="float-left" href="matsmith.github.io">10 Conroy Street</a>
				<a class="float-right" href="">Charleston, SC 29403</a>
				<p data-icon="icon-rstars" class="icon"></p>
			</div>
		</footer>
		{{ theme:js src="jquery-1.10.2.min" tag="true" }}
		{{ theme:js src="jquery.scrollTo-1.4.3.1-min" tag="true" }}
		{{ theme:js src="jquery.parallax.min" tag="true" }}
		{{ theme:js src="headroom" tag="true" }}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCSGASlxE9wjxw3ZL10zblJQzVPgv1IaU&sensor=false"></script>
		{{ theme:js src="script" tag="true" }}
	</body>
</html>