@font-face {
	font-family: 'arrow';
	src:url('../fonts/arrow.eot?-ldke35');
	src:url('../fonts/arrow.eot?#iefix-ldke35') format('embedded-opentype'),
		url('../fonts/arrow.woff?-ldke35') format('woff'),
		url('../fonts/arrow.ttf?-ldke35') format('truetype'),
		url('../fonts/arrow.svg?-ldke35#arrow') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-arrow]:before {
  font-family: 'arrow';
  content: attr(data-arrow);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-arrow="icon-down"]:before {
	content: "\e600";
}